h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.mine-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*flex-shrink: 0;*/
}

.card {
    /*width: 50%;*/
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-text a {
    text-decoration: none;
    color: #7b878b;
}

.bg-light {
    background-color: #e3f2fd;
}

nav a{
    padding-left: 20px;
}

nav li {
    padding-left: 10px
}

/*przyciski*/
.btn-info {
    color: white;
}


/*ikonki*/
span {
    color: #0dcaf0;
}


.mine-btn {
    padding-top: 15px;
}

ul.justify-content-end li {
    padding-right: 15px;
}

ul.justify-content-end li a {
    color: black;
    text-decoration: none;
}

.btn-primary {
    margin-top: 10px;
}
/*wjezdzajacy komentarz*/
.my-hidden {
    position: relative;
    height: 158px;
    overflow: hidden;
    /*display: none;*/
}

.my-appear {
    position: absolute;
    top: -158px;
    left:0;
    width: 25rem;
    transition: .5s linear;
}

.float-sm_right {
    width: 25rem;
}

.my-appear.my-active {
    top:0;
}